.env
.venv/
venv/

__pycache__/
*.py[cod]
*.pyd

.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/

*.log
logs/

*.sqlite3

ChatBot/data/pdfs/
ChatBot/data/vector_store/
ChatBot/vectorstore/
Rag_local_Ollama/chroma.sqlite3
Rag_local_Ollama/*/

ChatBot/all-MiniLM-L6-v2/
ChatBot/phi2/

*.safetensors
*.bin
*.onnx
*.pth
*.pt
*.gguf
*.ckpt